@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main{
    background-image: url(assets/images/backround.jpg);
    height: 80vh;
    background-position: center center;
    background-size: max(1000px 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    
}
body{
    background-color: black;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    margin: auto;
    /* padding: 16px 0; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    text-align: center;
    padding: 0 25px;
    gap: 20px;

}
.hero> :first-child{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 40px;
text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(71, 70, 70);
    width: 100%;
}
.main input{
    background-color: rgb(23, 23, 23, 0.7);
    padding: 7px 15px 7px 15px;
    font-weight: 600;
    color: white;
    border: 1px solid rgba(180, 169, 169, 0.913);
    font-size: 12px;
    border-radius: 4px;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    font-weight: 400;
    color: white;
    background-color: rgba(45, 40, 40, 0.785);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
    background-color: grey;
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(62, 62, 62);
    color: white;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0 10px 80px;
    max-width: 60vw;
    cursor: pointer;

}
.faq h2{
    margin: 0 0 0 80px;
    padding: 20px;
    font-size: 34px;

}
.footer .footeritem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 80vw;
    margin: auto;
}

.footeritem{
    
    display: flex;
    flex-direction: column;
}
.footer .footeritem a{
    color: white;
}
.footer1{
    margin: 1vw 10vw;
    color: white;
    padding: 20px 0px;
    font-size: 20px;
}
@media screen and (max-width: 1200px) {
    .footer .footeritem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 750px) {
    .footer .footeritem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .footer .footeritem{
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    }
}
@media screen and (max-width: 550px) {
    .faq h2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .faqbox{
        margin: 0;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}